:root {
	--main-pixel-width: 2px;
	--main-offset-width: 12px;
	--main-offset-width2: 24px;
}

body {
	margin: 0px;
	background-color: #000;
	border: var(--main-pixel-width) dotted red;
	overflow: hidden;
}

.bg{
	position: absolute;
	margin: 0px;
	border: 0px;
	padding: 0px;
	/*background-color: #fff;*/
	left: 50%;
	top: 50%;
    transform: translate(-50%, -50%);
    border: var(--main-pixel-width) dotted yellow;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-gap: 0px;
	grid-template-areas:
	"item-1 item-2";
	height: 100vh;
	background-color: #d9d9d6;
}


.item-1,
.item-2{
	display: flex;
	text-align:center;
	justify-content: center;
	align-items: center;
	justify-items: center;
	font-family: 'Overpass', sans-serif;
	line-height: 1;
	color: black;
	border: var(--main-pixel-width) dotted red;
}

.item-1 {
	grid-column: 1/2;
	grid-row: 1;
	/*border: var(--main-pixel-width) dotted blue;*/}

.item-2 {
	font-size: 9vh;
	margin: 20px;
	grid-column: 2/2;
	grid-row: 1;
	writing-mode:vertical-rl;}

.newborder {border: var(--main-pixel-width) solid green;}

.move0{
	color:blue;
	padding-top:0px;
}

.move1{
	color:red;
	padding-top:var(--main-offset-width);
}

.move2{
	/*color:#33ff21;*/
	color: yellow;
	padding-top:var(--main-offset-width2);
}

.color{
	opacity: 1;
	mix-blend-mode: normal;
	font-weight: bold;}

.bk{
	color:black;
	opacity: 0.3; }

.sss {
	mix-blend-mode: screen;}

path {
  fill: none;
  stroke: red;
  stroke-width: 0.3px;
  vector-effect: non-scaling-stroke;}
circle{
	/*mix-blend-mode: screen;*/
	opacity: 0.3;}